.messageContainer {
  width: 100%;
  height: 80vh;
  background-color: var(--bg-chat-color);
  padding: 20px;
  overflow-y: scroll;
}

.messageContainer > * {
  margin-bottom: 10px;
}

.messageChats > p {
  font-size: 13px;
}
.senderName {
  text-align: right;
}

.messageSnder {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}

.messageRecipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.messageStatus {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
  color: var(--headers-font);
}
