@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --bg-loginScreen-color: #b1b1b1; /* background color */
  --bg-chat-color: rgb(228, 228, 228);
  --main-color: #1f2029;
  /* --main-color: #05001d; */
  --main-dark: #1f2029;
  --sidebar: rgb(228, 228, 228);
  --sent-msg: #1a1;
  --received-msg: #901;
  --headers-font: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
