.chatFooter {
  padding: 10px;
  /* background-color: var(--main-color); */
  background-color: rgba(174, 176, 195, 0.37);
  border: 1px solid rgb(195, 195, 195);
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sendBtn {
  width: 20%;
  height: 100%;
  background-color: white;
  border: 2px solid #4caf50;
  padding: 10px;
  outline: none;
  color: #4caf50;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px;
  transition: 0.2s;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
  color: white;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
